// Paleta de colores
$Color1: black;  
$color2: lightskyblue;
$color3: white;   

* {
    margin: 0;                  
    padding: 0;
    box-sizing: border-box;
}

body { 
    background-color: $Color1;
}

/*header*/
.social-icon {
    display: flex;
    justify-content: end;
    margin-right: 15px;
    letter-spacing: 15px;
}
.fa-facebook {
    color: $color3;
    font-size: 15px;
    &:hover {
        color: blue;
    }
}

.fa-instagram {
    color: white;
    font-size: 16px;
    &:hover {
        color: palevioletred;
    }
}

.logo-bar {
    height: 50px;
}

.fa-bars {
    color: $color3;
    font-size: 16px;
    margin-top: 10px;
    margin-right: 25px;
}

.nav-link {
    color: $color3 !important;
    font-size: 16px;
    float: right;
    margin-right: 40px;
    &:hover {
        color: grey !important;
    }
}

.fa-whatsapp {
    position: sticky;
    top: 80%;
    color: green;
    font-size: 40px;
    margin-left: 1%; 
    cursor: pointer;}

.logo-index {
    background-image: url(img/DoliDoxi_Logo.png);
    background-position: center;
    background-size: 85%;
    background-repeat: no-repeat;
    height: 180px;
    
}
.hr-web {
    display: flex;
    justify-content: center;
}
hr {
    width: 40%;
    height: 2px;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: $color2;
    border-radius: 5px;
}
/*fin header*/
/*main*/ 
.h2-main {
    color: $color3;
    font-family: Arial;
    text-align: center;
    font-size: 20px;
    padding: 15px;
}
.galeria-index {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 260px);
    padding: 25px;
    grid-gap: 10px; 
}
.foto-index {
    border: 3px double $color3;
    background-position: center;
    background-size: cover;
}
.foto1-index {
    background-image: url(img/Foto1.png);
}
.foto2-index {
    background-image: url(img/Foto2.png);
}
.foto3-index {
    background-image: url(img/Foto3.png);
}

.p-main {
    color: $color3;
    font-family: Arial;
    font-size: 14px;
    border: 3px double lightskyblue;
    text-align: center;
    padding: 8px; 
}
.btn-main {
    color: $color2;
    font-family: arial;
    font-size: 14px;
    width: 100px;
    height: 20px;   
    text-decoration: none;
}
.btn-main:hover {
    color: $color3;
}
/* fin main*/
/* info frecuentes */
.h2-frecuentes {
    color: $color3;
    font-family: Arial;
    text-align: center;
    font-size: 20px;
    margin-top: 15px;
    
}
.info-frecuente {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card {
    text-align: center;
    background-color: $Color1;
    width: 200px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.fa-truck {
    color: $color3;
    font-size: 70px;
    padding-bottom: 15px;
}
.fa-credit-card {
    color: $color3;
    font-size: 70px;
    padding-bottom: 15px;
}
.fa-shield {
    color: $color3;
    font-size: 70px;
    padding-bottom: 15px;
}
.h3-frecuentes h3{
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 30px;
}
.h3-frecuentes-1 {
    color: $color3;
    font-family: Arial;
    font-size: 16px;   
}
.h3-frecuentes-2 {
    color: $color3;
    font-family: Arial;
    font-size: 16px;  
}
.h3-frecuentes-3 {
    color: $color3;
    font-family: Arial;
    font-size: 16px; 
}
/*fin info frecuentes*/
/*footer*/
.footer p{
    display: inline-block;
}

.footer {
    color: $color3;
    font-size: 16px;
    font-family: arial;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    text-align:center ;
}
.ft-3 {
    color: $color2;
}
.ft-4 {
    color: $color2;
}
/*fin footer*/
/*Nosotros*/
.h2-nosotros {
    color: $color3;
    font-family: Arial;
    text-align: center;
    margin-bottom: 20px;
}
.p-nosotros {
    color: $color3;
    font-family: arial;
    font-size: 16px;
    padding: 45px;
    text-align: justify;
}
#p-dolidoxi {
    color: $color2
}
/*fin nosotros*/
/*productos*/
.h2-productos {
    color: $color3;
    font-family: Arial;
    text-align: center;
    margin-bottom: 20px;
}
@import "_galeria";
/*fin productos*/
/*comercial*/
.h2-comercial {
    color: $color3;
    font-family: Arial;
    text-align: center;
    margin-bottom: 20px;
}
.p-comercial {
    color: $color3;
    font-family: arial;
    font-size: 16px;
    padding: 45px;
    text-align: justify;
}
/*fin comercial*/
/*contacto*/
.h2-contacto {
    color: $color3;
    font-family: Arial;
    text-align: center;
    margin-bottom: 20px;
}
.formulario {
    display: flex;
    justify-content: center;
    padding: 15px;
}
.textarea {
    height: 200px;
}
.btn-form {
    display: flex;
    justify-content: center;
}
.btn-enviar {
    margin-top: 15px;
    height: 50px;
    width: 80px;
    background-color: $Color1 !important;
    border-color: $color3 !important;
}   
.p-maps-contacto {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4 60px);
    grid-gap: 10px;
    padding: 25px;
}
.p-contacto {
    color: $color3;
    font-family: arial;
    font-size: 16px;
    text-align: center;
    text-justify: center;
    padding: 20px;
}
.p-contacto1 {
    grid-column: 1/2;
    grid-row: 1/2;
}    
iframe {
    grid-column: 1/2;
    grid-row: 2/4;
    height: 280px;
}
.p-contacto2 {
    grid-column: 1/2;
    grid-row: 4/5;
}
/*fin contacto*/

/*media queries*/
@media (min-width:768px){
    .fa-instagram {
        font-size: 18px;
    }
    .fa-facebook {
        font-size: 16px;
    }
    .logo-bar {
        height: 60px;
}
    #navbarNav {
        display: flex;
        justify-content: flex-end;
        margin-right: 15px;
    }
    .nav-link {
        padding: 1px !important;
    }
    .nav-link:hover {
        color:gray !important;
    }
    .logo-index {
        background-image: url(img/DoliDoxi_Logo.png);
        background-position: center;
        height: 300px;
        background-size: 85%;
        background-repeat: no-repeat;
    }
    .h2-main {
        color: $color3;
        font-family: Arial;
        text-align: center;
        font-size: 35px;
        padding: 15px;
    }
    .btn-main {
        font-size: 18px;
    }   
    .h2-frecuentes {
        color: $color3;
        font-family: Arial;
        text-align: center;
        font-size: 35px;
        padding: 15px;
    }
    .info-frecuente {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    } 
    .footer {
        color: $color3;
        font-size: 16px;
        font-family: arial;
        margin-bottom: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        text-align:center ;
    }
    .p-nosotros {
        font-size: 20px;
    }
    .p-comercial {
        font-size: 20px;
    }
    .p-maps-contacto {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(3, 100px);
        grid-gap: 10px;
        padding: 25px;
    }
    .p-contacto1 {
        grid-column: 1/2;
        grid-row: 1/2;
        text-align: center;
        text-justify: center;
    }
    .p-contacto2 {
        grid-column: 1/2;
        grid-row: 3/4;
        text-align: center;
        text-justify: center;
    }  
    iframe {
        grid-column: 2/4;
        grid-row: 1/4;
    }
}  
@media (min-width:576px) and (max-width:767px) {
    .galeria-index {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, 280px);
    }
    .p-main {
        height: 100px;
    }
    .info-frecuente {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .footer {
        color: $color3;
        font-size: 16px;
        font-family: arial;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        text-align:center ;
    }
    .p-maps-contacto {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 100px);
        grid-gap: 10px;
        padding: 25px;
    }
    .p-contacto1 {
        grid-column: 1/2;
        grid-row: 1/2;
        text-align: center;
        text-justify: center;
    }
    .p-contacto2 {
        grid-column: 1/2;
        grid-row: 3/4;
        text-align: center;
        text-justify: center;
    }  
    iframe {
        grid-column: 2/4;
        grid-row: 1/4;
    }
}
