* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    background-color: black;
}

/*header*/
.social-icon {
    margin-left: 1150px;
}
.fa-facebook {
    color: white;
    font-size: 20px;
    margin-right: 10px;
}
.fa-facebook:hover {
    color: blue;
}
.fa-instagram {
    color: white;
    font-size: 20px;
}
.fa-instagram:hover {
    color: palevioletred;
}
.fa-whatsapp {
    position: sticky;
    top: 80%;
    color: green;
    font-size: 50px;
    margin-left: 2%; 
    cursor: pointer;
}
.logo-menu-bar {
    font-family: arial;
    font-size: 15px;
}
#logo-menu {
    width: 180px;
    margin-left: 30px;
}
.menu-bar {
    margin-left: 700px;
}
.menu-bar li {
    display: inline-block;
    color: white;
    padding: 15px;
}
.menu-bar li:hover {
    color: lightskyblue;
}
#logo-index {
    width: 900px;
    margin-left: 200px;
}
#selected-inicio {
    color: lightskyblue;
    background-color: black;
    font-family: arial;
    font-size: 16px;
    position: absolute;
    margin-left: 714px;  
    margin-top: 90px; 
}
hr {
    width: 900px;
    height: 5px;
    margin-top: 50px;
    margin-left: 210px;
    margin-bottom: 50px;
    background-color: lightskyblue;
    border-color: lightskyblue;   
    border-radius: 5px;
}
/*fin header*/
/*main*/ 
.h1-main {
    color: white;
    font-family: Arial;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 45px;
}
.imagenes-index {
    display: block;
}
#Foto1 {
    border: 3px double white;
    margin-left: 250px;
    width: 500px;
    padding: 10px;
}
#Foto2 {
    border: 3px double lightskyblue;
    margin-left: 25px;
    width: 300px;
    padding: 10px;
    position: absolute;
}
#Foto3 {
    border: 3px double white;
    margin-left: 25px;
    margin-top: 260px;
    width: 300px;
    padding: 10px;
    position: absolute;
}
.p-main {
    color: white;
    font-family: Arial;
    font-size: 16px;
    border: 3px double lightskyblue;
    width: 500px;
    height: 87px;
    margin-top: 18px;
    margin-left: 250px;
    text-align: center;
    padding: 5px;
}
.btn-main {
    display: block;
    color: lightskyblue;
    font-family: arial;
    font-size: 15px;
    margin-top: 9px;
    margin-left: 195px;
    width: 100px;
    height: 20px;   
    text-decoration: none;
}
.btn-main:hover {
    color: white;
}
.icon-frecuentes {
    display: inline-block;
}
.h2-frecuentes {
    color: white;
    font-family: Arial;
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
    margin-top: 20px;
}

.fa-truck {
    margin-top: 20px;
    color: white;
    font-size: 90px;
    margin-left: 200px;
}
.fa-credit-card {
    margin-top: 20px;
    color: white;
    font-size: 90px;
    margin-left: 300px;
}
.fa-shield {
    margin-top: 20px;
    color: white;
    font-size: 90px;
    margin-left: 280px;
}
.h3-frecuentes h3{
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 30px;
}
.h3-frecuentes-1 {
    color: white;
    font-family: Arial;
    font-size: 16px;
    margin-left: 175px;    
}
.h3-frecuentes-2 {
    color: white;
    font-family: Arial;
    font-size: 16px;
    margin-left: 220px;  
}
.h3-frecuentes-3 {
    color: white;
    font-family: Arial;
    font-size: 16px;
    margin-left: 200px;  
}
/*fin mail*/
/*footer*/
.footer p{
    display: inline-block;
}

.footer {
    color: white;
    font-size: 16px;
    font-family: arial;
    margin-bottom: 30px;
}
.fa-copyright {
    color: white;
    padding-left: 5px;
    padding-right: 5px;
}
#ft-1 {
    margin-left: 110px;
}
#ft-2 {
    margin-left: 120px;
}
#ft-3 {
    color: lightskyblue;
    margin-left: 110px;
}
#ft-4 {
    color: lightskyblue;
    margin-left: 90px;
}
/*fin footer*/
/*Nosotros*/
#h1-nosotros {
    color: white;
    font-family: Arial;
    text-align: center;
    margin-bottom: 30px;
}
#p-nosotros {
    color: white;
    font-family: arial;
    font-size: 22px;
    padding: 45px;
    text-align: justify;
}
#p-dolidoxi {
    color: lightskyblue;
}
#selected-nosotros {
    color: lightskyblue;
    background-color: black;
    font-family: arial;
    font-size: 16px;
    position: absolute;
    margin-left: 785px;  
    margin-top: 90px; 
}
/*fin nosotros*/
/*comercial*/
#h1-comercial {
    color: white;
    font-family: Arial;
    text-align: center;
    margin-bottom: 30px;
}
#p-comercial {
    color: white;
    font-family: arial;
    font-size: 22px;
    padding: 45px;
    text-align: justify;
}
#li-cf {
    margin-left: 330px;
}
#li-pe {
    margin-left: 330px;
}
#li-re {
    margin-left: 330px;
}
#selected-comercial {
    color: lightskyblue;
    background-color: black;
    font-family: arial;
    font-size: 16px;
    position: absolute;
    margin-left: 979px;  
    margin-top: 90px; 
}
/*fin comercial*/
/*contacto*/
#h1-contacto {
    color: white;
    font-family: Arial;
    text-align: center;
    margin-bottom: 60px;
}
#formulario {
    color: wheat;
    font-family: arial;
    font-size: 14px;
    margin-left: 400px;
}
label {
    font-family: arial;
    font-size: 14px;
    padding-right: 5px;
}
#label-tel {
    margin-left: 20px;
}
#label-email {
    margin-left: 15px;
}

#Nombre {
    height: 25px;
    padding-left: 5px;
    margin-left: 5px;
}
#Tel {
    height: 25px;
    padding-left: 5px;
    width: 175px;
}
#email {
    width: 412px;
    height: 25px;
    padding-left: 5px;
    margin-left: 5px;
}
#areadetexto {
    resize: none;
    width: 413px;
    height: 150px;
    padding-left: 5px;
}
#btn-enviar {
    color: white;
    margin-top: 25px;
    padding: 10px;
    font-family: arial;
    font-size: 16px;
    margin-left: 240px;
    background-color: black;
    border: none;
    cursor: pointer;
}
#btn-enviar:hover {
    color: lightskyblue;
}

#p-maps-contacto {
    display: block;
}
#p-contacto {
    color: white;
    font-family: arial;
    width: 320px;
    margin-left: 160px;
    padding: 50px;
    position: absolute;
}
#p-contacto-2 {
    color: white;
    font-family: arial;
    width: 320px;
    margin-left: 160px;
    margin-top: 120px;
    padding: 50px;
    position: absolute;
}
iframe {
    margin-left: 550px;
    margin-bottom: 20px;
}
#selected-contacto {
    color: lightskyblue;
    background-color: black;
    font-family: arial;
    font-size: 16px;
    position: absolute;
    margin-left: 1080px;  
    margin-top: 90px; 
}
/*fin contacto*/
/*productos*/
#contenedor-img {
    display: block;
    margin-left: 60px;
}
#contenedor-img img {
    width: 400px;
    padding: 20px;
}
#selected-productos {
    color: lightskyblue;
    background-color: black;
    font-family: arial;
    font-size: 16px;
    position: absolute;
    margin-left: 879px;  
    margin-top: 90px; 
}
/*fin productos*/